# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\steph\PythonLearning\DeepLearningProjects\emotion_detection\emotion_detection_webapp\emotion_classifier_webapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
